[Unit]
Description=Recovers self-hosted k8s after reboot
Wants=network-online.target
After=kubelet.service network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/k8s-self-hosted-recover

[Install]
WantedBy=multi-user.target
